table {
  background-color: white ;
  display: block;
}

h1 h2 h3 h4 h5 h6 p em td{
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pp{
  border-radius: 50%;
  max-width: 75%;
  max-height: 75%;
}

img{
  max-width: 75%;
  max-height: 75%;
  background-color: white;
}
.textzone{
  padding: 5%;
  border-left-color: #00ADB5;
  border-left-width: 10%;
  border-left-style: solid;
}
.icon section {
  background-color: white;
}

button{
  border-radius: 50%;
  background-color: #00ADB5;
  color: white;
  border: none;
}

.textzone1{
  padding: 5%;
  border-left-color: #00ADB5;
  border-left-width: 10%;
  border-left-style: solid;
}

/*

    black #222831
    blue #00ADB5
    gray #393E46
    white #FFFFFF
    light gray #E2E2E2
*/